<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

</html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style/style.css}" rel="stylesheet">
    <title>Users</title>
</head>

<body>
    <h2>List of users:</h2>
    <div id="central_block">
        <table>
            <tr>
                <th>id</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="user : ${users}">

                <td th:text="${user.id}"></td>
                <td>
                    <input id="fromName" oninput="sendInput(this, '.name')" type="text" name="firstName"
                        th:value="${user.firstName}">
                </td>
                <td>
                    <input oninput="sendInput(this, '.surname')" type="text" name="lastName"
                        th:value="${user.lastName}">
                </td>
                <td>
                    <form method="post" th:action="@{/users/update}" th:object="${user}">
                        <input type="hidden" name="id" th:value="${user.id}">
                        <input class="name" type="hidden" name="firstName" th:value="${user.firstName}">
                        <input class="surname" type="hidden" name="lastName" th:value="${user.lastName}">
                        <input class="update" type="submit" value="Save">
                    </form>
                </td>
                <td>
                    <form method="post" th:action="@{/users/remove}" th:object="${id}">
                        <input type="hidden" name="id" th:value="${user.id}">
                        <input class="remove" type="submit" value="Remove">
                    </form>
                </td>
            </tr>
        </table>

        <div id="block_add">
            <h3>Добавление пользователя:</h3>
            <form method="post" th:action="@{/users/add}" th:object="${user}">
                <p class="p1">Имя: <input type="text" name="firstName"></p>
                <p class="p1">Фамилия: <input type="text" name="lastName"></p>
                <input class="add" type="submit" value="Add user">
            </form>
        </div>
    </div>
</body>

<script th:src="@{scripts/select.js}"></script>

</html>